.div1{
    display: flex;
    align-items: center;
    width: 800px;
    height: 250px;
    background-color: silver;
    margin: auto;
}
p{
    text-align: center;
    margin-top: 60px;
}
.div2,.div3,.div4{
    width: 200px;
    height: 150px;
    border: solid 1px black;
    background-color: whitesmoke;
    margin: 30px;
}
.div2{
    transform: skew(-20deg,-20deg);
}
.div3{
    transform: skew(20deg,-20deg);
}
.div4{
    transform: scale(1.2,0.6);
}
