.div1{
    border: solid 2px black;
    width: 800px;
    height: 600px;
    margin: auto;
    position: relative;
}

.div2{
    width: 150px;
    height: 150px;
    background-color: red;
    border: solid 1px black;
    position: absolute;
}

.div3{
    width: 150px;
    height: 150px;
    background-color: green;
    border: solid 1px black;
    position: relative;
    top: 448px;
    left: 0px;
    float: left;
}

.div4{
    width: 150px;
    height: 150px;
    background-color: blue;
    border: solid 1px black;
    position: relative;
    margin-left: 648px;
}

.div5{
    width: 150px;
    height: 150px;
    background-color: yellow;
    border: solid 1px black;
    position: relative;
    top: 296px;
    left: 648px;
}

.div6{
    width: 150px;
    height: 150px;
    background-color: grey;
    border: solid 1px black;
    margin: auto;
    position: relative;
    bottom: 70px;
    
}