@keyframes kvadrati {  
    0%   {left: 250px; top: 500px;}
    10%  {left: 250px; top: 300px;}
    20%  {left: 500px; top: 300px;}
    30%  {left: 500px; top: 500px;}
    40%  {left: 250px; top: 500px;}
    50%  {left: 500px; top: 300px;}
    70%  {left: 375px; top: 150px;}
    90%  {left: 250px; top: 300px;}
    100% {left: 500px; top: 500px;}

  }
  
  .div2 {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    position: relative;
    background-color: red;
    animation-name: kvadrati;
    animation-duration: 8s;
    animation-fill-mode: forwards;
  }



.div1 {
    width: 900px;
    height: 700px;
    border: solid 2px black;
    margin: auto;
  }