body{
    margin: 0;
}

header, .cont, footer{
    width: 1200px;
    margin: auto;
    box-sizing: border-box;
}

header{
    height: 180px;
    background-color: darkslategray;
    border-bottom: solid 4px greenyellow;
    margin-bottom: 10px;
}

.txt1{
    font-size: 40px;
    color: yellow;
    position: absolute;
    left: 250px;
}
.txt2{
    font-size: 30px;
    color: gray;
    position: absolute;
    left: 250px;
    top: 50px;
}
.div1, .div2, .div3,.div4,.div5{
    min-width: 120px;
    height: 40px;
    background-color: dimgray;
    top: 126px;
    left: 220px;
    position: relative;
    float: left;
    margin: 10px;
    border-radius: 10px 10px 0 0;
}

.txt3{
    color: white;
    text-align: center;
    margin-top: 10px;
}




footer{
    height: 100px;
    background-color: darkslategray;
    border-top: solid 4px greenyellow;

}
.txt4{
    font-size: 15px;
    color: darkgoldenrod;
    text-align: center;
}