.cont{
    display: flex;
    width: 800px;
    height: 130px;
    background-color: silver;
    border: solid 2px black;
    margin: auto;
}

.div-1,.div-2,.div-3,.div-4,.div-5,.div-6,.div-7,.div-8{
    display: flex;
    width: 200px;
    height: 100px;
    background-color: black;
    align-items: center;
    margin: 15px;
}

.div-1{
    background-image: linear-gradient(red, green, blue);
}
.div-2{
    background-image: linear-gradient(to right,red,green,blue );
}
.div-3{
    background-image: linear-gradient(to bottom right, red, green,blue );
}
.div-4{
    background-image: linear-gradient(to bottom left, red 50px, green,blue );
}

.div-5{
    background-image: radial-gradient(red, green, blue);
}
.div-6{
    background-image: radial-gradient(red 60%,green 70%,blue 1% );
}
.div-7{
    background-image: repeating-radial-gradient(red 40%,green 50%,blue 80%);
}
.div-8{
    background-image: radial-gradient( red 20%, green 20%,blue 30%);
}