.div1{
    width: 1400px;
    height: 600px;
    border: solid 5px black;
    margin: auto;
    
}

.div2{
    width: 1050px;
    height: 500px;
    margin: auto;
    border: solid 2px black;
    position: relative;
    top: 50px;

}

.div3{
    width: 200px;
    height: 80px;
    border-bottom: solid 3px blue;
    background-color: grey;
    left: 50px;
    position: relative;
    top: 20px;
    float: left;
}
.div4{
    width: 200px;
    height: 80px;
    border-bottom: solid 3px blue;
    background-color: grey;
    left: 100px;
    position: relative;
    top: 20px;
    float: left;
}

.div5{
    width: 200px;
    height: 80px;
    border-bottom: solid 3px blue;
    background-color: grey;
    left: 150px;
    position: relative;
    top: 20px;
    float: left;

}

.div6{
    width: 200px;
    height: 80px;
    border-bottom: solid 3px blue;
    background-color: grey;
    left: 200px;
    position: relative;
    top: 20px;
    float: left;

}



h2{
    margin-left: 35px;
}