.div1{
    width: 300px;
    height: 300px;
    background-color: ghostwhite;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


h1{
    text-align: center;
}

.user{
    width: 210px;
    height: 40px;
    border: solid whitesmoke;
    border-radius: 5px 5px 5px 5px;
    position: relative;
    left: 45px;
    font-size: 15px;
}

.password{
    width: 210px;
    height: 40px;
    border: solid whitesmoke;
    border-radius: 5px 5px 5px 5px;
    position: relative;
    left: 45px;
    top: 20px;
    font-size: 15px;
}

.sign{
    width: 210px;
    height: 40px;
    background-color: salmon;
    border-radius: 5px 5px 5px 5px;
    position: relative;
    left: 45px;
    top: 40px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    text-align: center;
    cursor: pointer;
}

.reg{
    font-size: smaller;
    margin: auto;
    position: relative;
    top: 60px;
    text-align: center;
    color: blue;
    text-decoration: underline ;
}